@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

/* 调整 Quill 编辑器高度，避免按钮与编辑器重叠 */
.ql-snow .ql-container {
  min-height: 320px;
}
.ql-snow .ql-editor {
  min-height: 260px;
}
